
.catalog {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: $card-width;
  gap: $gap;

  @for $index from 1 through 3 {
    @media (min-width: nth($breakpoints, $index)) {
      & {
        grid-template-columns: repeat(1 + $index, 1fr);
        max-width: $card-width + ($index * $card-width) + $gap * $index;
      }
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
